body {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
}

svg {
	user-select: none;
	font-family: "Inter", sans-serif;
}

textarea {
	font-family: "Inter", sans-serif;
	background: none;
	background-color: transparent;
	border: none;
	text-align: center;
	padding: 12px;
	outline: none;
}

.label {
	font-family: "Inter", sans-serif;
	font-size: 13.5px;
	text-align: center;
}

button {
	outline: none;
	cursor: pointer;
	padding-left: 12px;
	padding-right: 12px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	height: 40px;
	border-radius: 4px;
	background-color: #fff;
}

.button-group {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.button-group > * {
	margin-right: 4px;
}

.button-group > button:active {
	transform: translateY(1px);
}

.button-group > button > .button-key {
	visibility: hidden;
}
.button-group > button:hover > .button-key {
	visibility: visible;
}
